---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    .container{
      display: flex;
      align-items:center;
    }
    .image {
      align-items: center;
    }
    .text{
      
    }

    img {
      max-width: 100%;
      height: auto;
    }
    
    <title>Default Table Style</title>
    <style>
        table {
            border-collapse: collapse; /* Collapse the borders into a single border */
            width: 100%; /* Make the table fill its container */
        }

        th, td {
            border: 1px solid #dddddd; /* Add a 1px solid border to each cell */
            padding: 8px; /* Add some padding to the cells for spacing */
            text-align: left; /* Align text to the left within cells */
        }

        th {
            background-color: #ebf7e8; /* Add a background color to header cells */
        }
    </style>
</head>
<body>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Background</h3>

<p>Parks are one of the few "free-to-be" places in our cities and towns. They are integral to health and well-being by providing space for physical activity and have been shown to help reduce stress. They've been connected to lower cardiovascular disease risk factors, Type 2 diabetes prevalence, and heat-related mortality risk.</p>
    
<p>They also provide a space for community, whether folks are there to hang out with friends and family or to be alone but amongst neighbors. During the COVID-19 pandemic, people became much more aware of this important role of parks.</p>

<p>Environmental "hard" data metrics of parks like vegetation index and tree canopy cover are often used in characterizing park quality. However, non-environmental metrics are important as well. The City of Oakland itself has also made <a href=https://data.oaklandca.gov/Equity-Indicators/Park-Quality/sbr3-iqtb/about_data title="Open Portal Data" target="_blank">park quality indicators</a> in the past, but they are reported at the council district level and not broken down to the census tract or park-level. Park access is also a prominent data point in recent years with statewide initiatives like <a href="https://www.parksforcalifornia.org/parkaccess/" title="Parks for All Californians" target="_blank">Parks for All Californians</a>. However, this tool uses Euclidean distance from parks alone to characterize access, without considering various travel modes. These gaps led us to explore more nuance in the data regarding park quality utilizing skills learned in this class.</p>

<p>The Trust for Public Land develops ParkScores® for cities, including <a href=https://www.tpl.org/city/oakland-california title="Oakland ParkScore®" target="_blank">Oakland</a>, where they look at access, investment, acreage, amenities, and equity. Their tool was a model for developing our rationale for how we wanted to approach research questions.</p>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Research Questions</h3>

<p>We created a three-pronged approach for our research questions and sub-questions to guide this exploration: park amenities and perception, park access, and park disparities.</p>

<ol>
  <li>Park Amenities and Perceptions
    <ul>
      <li>What amenities are in Oakland's parks?</li>
      <li>How are Oakland's parks perceived (via park ratings)?</li>
      <li>Are there certain features that are related to higher rating?</li>
      <li>What kinds of activities are people doing in parks?</li><br>
    </ul>
  </li>
  <li>Park Access
    <ul>
      <li>Which parks have adequate transit access (defined as within a walkable distance of 1/4 mile)?</li><br>
    </ul>
  </li>
  <li>Park Disparities
    <ul>
      <li>Are there spatial differences in amenity counts and types?</li>
      <li>How does adequate transit access vary between parks in priority and non-priority neighborhoods?</li>
    </ul>
  </li>
</ol>

  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Data</h3>

<p>When one wants to explore a new park, searching online can be a helpful tool for this. While apps like Strava and AllTrails have a plethora of data on parks with trails, their users tend to be more fitness-minded and do not necessarily capture other uses of parks. Considering this, OpenStreetMap, Google Reviews, and Yelp were selected as data sources. City of Oakland’s parks data was also utilized for cross-checking but ultimately not incorporated due to quality issues. We utilized City of Oakland’s Priority Communities data at the census tract-level for the third prong. The table below, we listed the data we used for our analysis as well as limitation we experienced for each source.</p>

<p>
      <table>
        <tr>
          <th bgcolor = '#ebf7e8'>Source</th>
          <th bgcolor = '#ebf7e8'>Data Used</th>
          <th bgcolor = '#ebf7e8'>Limitations</th>
        </tr>
        <tr>
          <td>OpenStreetMap</td>
          <td>Park names and amenities data for all Oakland parks, road network, bus stop locations, and routes served by each bus stop</td>
          <td>User-defined so defintion of parks varied and amenities were only included if someone contributed.</td>
        </tr>
        <tr>
          <td>Yelp</td>
          <td>Reviews and ratings of Oakland parks through Yelp API</td>
          <td>Smallest dataset. Only 12 parks in Oakland have Yelp reviews.</td>
        </tr>
        <tr>
          <td>Google Maps</td>
          <td>Average ratings and number of reviews of each Oakland park</td>
          <td>Could not get Google's API so limited to only the ratings. But had many more parks than 12 (119 to be exact!)</td>
        </tr>
        <tr>
          <td>City of Oakland</td>
          <td><ul>
              <li>Map of parks dataset - Official Park Names</li>
              <li>Priority Neighborhoods census tracts</li>
          </ul></td>
          <td>The parks dataset had typos and inconsistencies. This data source was not used in the final analysis, but did aid in some cross-checking.</td>
        </tr>
      </table>    
</p>

      
      
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Methodology</h3>
    
<p>We took the following steps to clean and analyze our data.</p>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h5 class="fw-bold">Data Collection and Cleaning</h5>

    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <h6 class="fw-bold">OpenStreetMap (OSM)</h6>

            <ol>
            <li>After pulling OSM data, we spatially joined the data with parks</li>
                <li>Of 162 total parks, 75 have amenities<li>
            <li>Cleaned any errors from the spatial join and dropped any outlier amenities</li>
                <li>504 amenities total, 41 unique. After dropping outlier amenities, we had 52 parks with amenities<li>
            <li>Resulted in 10 unique types of park amenities, 360 total</li>
            </ol>

    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <h6 class="fw-bold">Yelp</h6>

            <ol>
            <li>Pulled ratings and reviews of parks in Oakland</li>
            <li>Filtered out any non-Oakland parks, filtered out filler words, created thematic word lists</li>
                <li>Resulted in 12 parks with reviews, of which the median review count was 119 and the mean review count was 197<li>
            <li>Created visuals!</li>
            </ol>

    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <h6 class="fw-bold">Google Maps</h6>

            <ol>
            <li>Pulled average ratings and count of reviews of parks in Oakland</li>
            <li>Cross-referenced the parks with the OSM Parks Data and removed null reviews</li>
                <li>Went from 173 to 117 reviews
            <li>Conducted a linear regression with the average ratings and amenity types</li>
            </ol>
    
    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <h6 class="fw-bold">City of Oakland</h6>

            <ol>
            <li>Pulled Priority Neighborhoods data</li>
            <li>Merged this with Alameda County's census tract geographies TIGERLINE file and narrowed down to Oakland</li>
            <li>Explored differences in parks and amenities by the different neighborhood priority rankings</li>
                <li>Oakland has 110 census tracts and the City split them evenly into the rankings, with 22 tracts in each ranking</li>
            </ol><br>
          
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h5 class="fw-bold">Data Analysis</h5>

<p>With our cleaned data, we then started to analyze different aspects of parks. We first mapped the parks with their respective amenities count and plotted a histogram of parks and number of amenities.</p>

<p>We also analyzed bus access by plotting all bus stops against the study park locations, creating a 400-meter or 1/4 mile buffer around each park and summed the number of bus stops and bus routes within the 400-meter radius.</p>

<p>Then, we looked at the Yelp reviews and looked at each of the parks with the thematic words. Finally, we conducted a linear regression with the 10 amenities and Google Maps park ratings.</p>

<p>Additionally, we overlayed the parks with the priority neighborhoods and analyzed the relationship between priority neighborhoods, parks amenities, park ratings, and transit access.</p>
    
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Key Findings</h3>
    
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h5 class="fw-bold">Park Amenities and Perception</h5>

    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <h6 class="fw-bold">Park Amenities</h6>

          From our analysis, after removing non-free amenities and outliers, we found 10 main park amenities. This includes the following amenities:<br>

          <ul>
          <li>BBQ grill (6) </li>
          <li>Bench (171) </li>
          <li>Drinking fountain (61)</li>
          <li>Toilet (48)</li>
          <li>Bike parking (21)</li>
          <li>Trash bin (17)</li>
          <li>Community center (12)</li>
          <li>Picnic table (9)</li>
          <li>Shelter (8)</li>
          <li>Theater (like outdoor amphitheater) (7)</li>
          </ul><br>

    <p>The map below shows the amenity counts of each park in Oakland. The majority of the parks in Oakland do not have any listed amenities (87, or 54% of total parks).</p><br>

          <div class = 'container'>
          <div class = 'image'>
          <img src = "images/amenity_ct_map.png">
          </div>
          </div><br>

    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <h6 class="fw-bold">Park Perceptions</h6>

          <p>In addition to determining the main amenities, we also looked at the relationship between park, amenities, and reviews.</p>

          <p>Although we only had a select number of reviews from Yelp, we wanted to see the average ratings from Yelp for each of the parks. Lake Merritt has one of the highest number reviews, but one of the lower average ratings. However, overall, all the parks reviewed in Yelp had an average rating greater than 4.30.</p><br>

          <div class = 'image'>
          <img src = "images/updated_Yelp_review_histo.png">
          </div><br>

          <p>We then looked at the relationship between Google reviews and the ten amenities using linear regression. Each of the amenities had a relatively low R<sup>2</sup>; however, drinking water and toilets have a slightly higher R<sup>2</sup>at 0.167 and 0.165, respectively. When all the amenities were included in one collective model, R<sup>2</sup> was 0.258. These results indicate that individually, a park having a drinking water fountain or a toilet explains about 17% of the variance in park ratings. When considering the ten amenities collectively, they explain about 26% of the variance in park ratings. Overall, we found that the more amenities a park has, the higher the park rating. Specific amenities such as drinking water and toilets have a larger impact than other amenities. However, amenities like community centers and waste baskets showed a negative impact. This may have occurred due to the relatively small sample size and dataset. </p><br>

          <div class = 'image'>
          <img src = 'images/amenity_LR.png'>
          </div><br>

          <p>Finally, we created lists of thematic activities (active, nature, and social words) as a proxy to see what people do or find memorable at a park, and using the Yelp reviews, we counted the reviews containing those words. The figure below shows the parks and the type of activities occurring at those areas. Lake Temescal, for example, saw more nature words and one count of active words while Redwood Regional Park saw a more healthy mix of activities. While a small sample size, this could be applied to a larger dataset in the future.</p><br>

          <div class = 'image'>
          <img src = 'images/yelp_themes_histo.png'>
          </div><br>

    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <h6 class="fw-bold">Park Access</h6>

          <p>We retrieved OSM data for Oakland's bus stop locations as the first step to evaluating transit access to our study parks. The map below shows all of Oakland's bus stops in relation to our study parks.</p><br>

          <div class = 'image'>
          <img src = 'images/all_bus_routes_parks.png'>
          </div><br>

          <p>To identify which bus stops are within a walkable/accessible distance of each park, we determined a walk shed radius of 400 meters or 1/4 mile, which is consistent with the rule-of-thumb for calculating transit catchment areas. The map below illustrates the quantity of buses within this identified 400-meter buffer for each study park, with parks like Lakeside Park (75 bus stops in proximity), Dimond Canyon Park (37 bus stops in proximity), and Joaquin Miller Park (37 bus stops in proximity) with the highest count of bus stops within a walkable distance.</p><br>

          <div class = 'image'>
          <img src = 'images/bus_stops_proximity.png'>
          </div><br>

          <p>However, we deemed that it was appropriate to examine the number of bus routes that are served by each bus stop, since the quantity of bus stops does not paint the complete picture of transit accessibility. From OSM data, each bus stop's route information was retrieved and included in our analysis. The map below reveals the number of bus routes accessible within a 400-meter walk shed from each of our study parks. Some parks like Temescal Regional Recreation Area with relatively fewer bus stops in proximity (18 bus stops) ended up ranking amongst the top 5 parks based on bus routes in proximity (81 bus routes).</p><br>

          <div class = 'image'>
          <img src = 'images/bus_routes_proximity.png'>
          </div><br>

    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <h6 class="fw-bold">Park Disparities</h6>

          <p>We were also curious about the spatial disparities between parks and their amenities. We mapped parks and their respective amenity count to Oakland's priority neighborhoods. The City of Oakland prioritizes neighborhoods based on areas with significant population densities determined to have experienced historic and current disparities. The priority neighborhood designations are based on sociodemographic factors such as race/ethnicity, low-income households, and people with disabilities. From our observations, we saw that parks with more amenities were typically located in low and lowest priority neighborhood.</p><br>

          <div class = 'image'>
          <img src = 'images/updated_priority_neighborhoods_parks.png'><br>
          </div>
                  
          <p>We then proceeded to look at the park counts, total amenities, and average park rating by the priority neighborhoods. Lowest priority neighborhoods had the most amount of parks and highest average rating while highest priority neighborhoods had the least amount of parks and the lowest average rating. The parks in the highest priority neighborhoods also had the least amount of amenities.</p><br>
          <div class = 'image'>
          <img src = 'images/total_park_counts.png'><br>
          </div>
          <div class = 'image'>
              <img src = 'images/total_amenity_counts.png'><br>
          </div>
          <div class = 'image'>
              <img src = 'images/average_park_ratings.png'><br><br>
          </div>

          <p>In terms of transit accessibility, a similar story is presented. Mentioned in the previous section for park access, an examination of bus stop proximity alone does not provide an accurate look at access. There isn't a consistent relationship between bus stop proximity to parks and neighborhood priority scores, however by looking at bus route proximity to parks vs. neighborhood priority scores there was a clearer picture. Our study parks located in the lowest priority neighborhoods had the highest average quantity of accessible bus routes (within 400 meters), while study parks located in the highest priority neighborhoods had the lowest average quantity of accessible bus routes.</p><br>

          <div class = 'image'>
          <img src = 'images/avg_bus_stops_priority.png'><br>
          </div>
          <div class = 'image'>
              <img src = 'images/avg_bus_routes_priority.png'><br>
          </div>
          
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">References</h3>
    
</p>
  <ol>
    <li value = "1"> Barakat & Yousufzai. 2020. Green space and mental health for vulnerable populations: A conceptual review of the evidence. https://doi.org/10.3138/jmvfh-2019-0040 </li>
    <li>City of Oakland. nd. OakDOT Geographic Equity Toolbox. <a href="https://www.oaklandca.gov/resources/oakdot-geographic-equity-toolbox" title="OakDOT Geographic Equity Toolbox" target="_blank">https://www.oaklandca.gov/resources/oakdot-geographic-equity-toolbox</a></li>
    <li>City of Oakland. 2018. Open Data Portal: Park Quality. https://data.oaklandca.gov/Equity-Indicators/Park-Quality/sbr3-iqtb/about_data
    <li>Choi et al. 2022. Effect modification of greenness on the association between heat and mortality: A multi-city multi-country study. https://doi.org/10.1016/j.ebiom.2022.104251</li>
    <li>Google Maps. https://www.google.com/maps/place/Oakland,+CA/@37.7588738,-122.4004606,11z/data=!3m1!4b1!4m6!3m5!1s0x80857d8b28aaed03:0x71b415d535759367!8m2!3d37.8043514!4d-122.2711639!16zL20vMGRjOTU?entry=ttu
    <li>Morphocode. nd. The 5-minute walk. <a href="https://morphocode.com/the-5-minute-walk/" title="The 5-minute walk" target="_blank">https://morphocode.com/the-5-minute-walk/</a></li>
    <li>OpenStreetMap. https://www.openstreetmap.org/ </li>
    <li>Tamosiunas et al. 2014. Accessibility and use of urban green spaces, and cardiovascular health: findings from a Kaunas cohort study. https://pubmed.ncbi.nlm.nih.gov/24645935/</li>
    <li>The Trust for Public Land. 2023. https://www.tpl.org/city/oakland-california </li>
    <li>Yelp Dataset. https://www.yelp.com/dataset </li>
  </ol>
<p>

  </div>
</div>
