---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default Table Style</title>
    <style>
        table {
            border-collapse: collapse; /* Collapse the borders into a single border */
            width: 100%; /* Make the table fill its container */
        }

        th, td {
            border: 1px solid #dddddd; /* Add a 1px solid border to each cell */
            padding: 8px; /* Add some padding to the cells for spacing */
            text-align: left; /* Align text to the left within cells */
        }

        th {
            background-color: #ebf7e8; /* Add a background color to header cells */
        }
    </style>
</head>
<body>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Background</h3>

<p>Parks are one of the few "free-to-be" places in our cities and towns. They are integral to health and well-being by providing space for physical activity and have been shown to help reduce stress. They've been connected to lower cardiovascular disease risk factors, Type 2 diabetes prevalence, and heat-related mortality risk.</p>
    
<p>They also provide a space for community, whether folks are there to hang out with friends and family or to be alone but amongst neighbors. During the COVID-19 pandemic, people became much more aware of this important role of parks.</p>

<p>Environmental "hard" data metrics of parks like vegetation index and tree canopy cover are often used in characterizing parks. Park access is also a prominent data point in recent years with statewide initiatives like <a href="https://www.parksforcalifornia.org/parkaccess/" title="Parks for All Californians" target="_blank">Parks for All Californians</a>. However, this tool uses Euclidean distance from parks alone to characterize access, without considering various travel modes. These gaps led us to explore more nuance in the data regarding park quality utilizing skills learned in this class.</p>

  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Research Questions</h3>

<p>We created a three-pronged approach for our research questions and sub-questions to guide this exploration: park amenities and perception, park access, and park disparities.</p>

<ol>
  <li>Park Amenities and Perception
    <ul>
      <li>What amenities are in Oakland's parks?</li>
      <li>How are Oakland's parks perceived (via park ratings)?</li>
      <li>Are there certain features that are related to higher rating?</li>
      <li>What kinds are people doing in parks?</li>
    </ul>
  </li>
  <li>Park Access
    <ul>
      <li>Which parks have adequate transit access (defined as within a walkable distance of 1/4 mile)?</li>
    </ul>
  </li>
  <li>Park Disparities
    <ul>
      <li>Are there spatial differences in amenity counts and types?</li>
      <li>How does adequate transit access vary between parks in priority and non-priority neighborhoods?</li>
    </ul>
  </li>
</ol>

  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Data</h3>

<p>When one wants to explore a new park, searching online can be a helpful tool for this. While apps like Strava and AllTrails have a plethora of data on parks with trails, their users tend to be more fitness-minded and do not necessarily capture other uses of parks. Considering this, OpenStreetMap, Google Reviews, and Yelp were selected as data sources. City of Oakland’s parks data was also utilized for cross-checking but ultimately not incorporated due to quality issues. We utilized City of Oakland’s Priority Communities data at the census tract-level for the third prong. The table below, we listed the data we used for our analysis as well as limitation we experienced for each source.</p>

<p>
      <table>
        <tr>
          <th bgcolor = '#ebf7e8'>Source</th>
          <th bgcolor = '#ebf7e8'>Data Used</th>
          <th bgcolor = '#ebf7e8'>Limitations</th>
        </tr>
        <tr>
          <td>OpenStreetMap</td>
          <td>Park names and amenities data for all Oakland parks, road network, and bus stop locations</td>
          <td>User-defined so defintion of parks varied and amenities were only included if someone contributed.</td>
        </tr>
        <tr>
          <td>Yelp</td>
          <td>Reviews and ratings of Oakland parks through Yelp API</td>
          <td>Smallest dataset. Only 12 parks in Oakland have Yelp reviews.</td>
        </tr>
        <tr>
          <td>Google Maps</td>
          <td>Average ratings and number of reviews of each Oakland park</td>
          <td>Could not get Google's API so limited to only the ratings. But had many more parks than 12 (119 to be exact!)</td>
        </tr>
        <tr>
          <td>City of Oakland</td>
          <td>Map of parks dataset - Official Park Names</td>
          <td>Dataset had typos and inconsistencies. This data source was not used in the final analysis, but did aid in some cross-checking.</td>
        </tr>
      </table>    
</p>

  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Methodology</h3>
    
<p>We took the following steps to clean and analyze our data.</p>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h5 class="fw-bold">Data Collection and Cleaning</h5>

    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <h6 class="fw-bold">OpenStreetMap (OSM)</h6>

            <ol>
            <li>After pulling OSM data, we spatially joined the data with parks</li>
            <li>Cleaned any errors from the spatial join and dropped any outlier amenities</li>
            <li>Resulted in 10 types of park amenities</li>
            </ol>

    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <h6 class="fw-bold">Yelp</h6>

            <ol>
            <li>Pulled ratings and reviews of parks in Oakland</li>
            <li>Filtered out any non-Oakland parks, filtered out filler words, created thematic word lists</li>
            <li>Created visuals!</li>
            </ol>

    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <h6 class="fw-bold">Google Maps</h6>

            <ol>
            <li>Pulled average ratings and count of reviews of parks in Oakland</li>
            <li>Cross-referenced the parks with the OSM Parks Data and removed null reviews</li>
            <li>Conducted a linear regression with the average ratings and amenity types</li>
            </ol>
          
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h5 class="fw-bold">Data Analysis</h5>

<p>With our cleaned data, we then started to analyze different aspects of parks. We first mapped the parks with their respective amenities cout and plotted a histogram of parks and number of amenities.</p>

<p>We also analyzed bus access by plotting all bus stops against the study park locations, creating an 800-meter or 1/2 mile buffer around each park and summed the number of bus stops and bus routes within the 800 meters radius.</p>

<p>Then, we looked at the Yelp reviews and looked at each of the parks with the thematic words. Finally, we conducted a linear regression with the 10 amenities and Google Maps park ratings.</p>

<p>Additionally, we overlayed the parks with the priority neighborhoods and analyzed the relationship between priority neighborhoods, parks amenities, and park ratings.</p>
    
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Key Findings</h3>
    
KEY FINDINGS SECTION

  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">References</h3>
    
</p>
  <ol>
    <li value = "1"> Barakat & Yousufzai. 2020. Green space and mental health for vulnerable populations: A conceptual review of the evidence. </li>
    <li>Tamosiunas et al. 2014. Accessibility and use of urban green spaces, and cardiovascular health: findings from a Kaunas cohort study. </li>
    <li>Choi et al. 2022. Effect modification of greenness on the association between heat and mortality: A multi-city multi-country study.</li>
  </ol>
<p>

  </div>
</div>
