---
layout: default
---

<!DOCTYPE html>
<html>
<head>
  <style>
    /* CSS rule to style links */
    a.custom-link {
      color: #439934;
    }
  </style>
</head>


<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Background</h3>

Parks are one of the few "free-to-be" places in our cities and towns. They are integral to health and well-being by integral to health and well-being by providing space for physical activity and been shown to help reduce stress. They've been connected to lower cawrdiovascular disease risk factors, Type 2 diabetes prevalence, and heat-related mortality risk.
    
They also provide a space for community, whether folks are there to hang out with friends and family or to be alone but amongst neighbors. During the COVID-19 pandemic, people became much more aware of this important role of parks.

Environmental "hard" data metrics of parks like vegetation index and tree canopy cover are often used in characterizing parks. Park access is also a prominent data point in recent years with statewide initiatives like <a href="https://www.parksforcalifornia.org/parkaccess/" title="Parks for All Californians" target="_blank" class="custom-link">Parks for All Californians</a>. However, this tool uses Euclidean distance from parks alone to characterize access, without considering various travel modes. These gaps led us to explore more nuance in the data regarding park quality utilizing skills learned in this class.

  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Research Questions</h3>

We created a three-pronged approach for our research questions and sub-questions to guide this exploration: park access, park amenities and perception, and park disparities.

<ol>
  <li>Park Amenities and Perception
    <ul>
      <li>What amenities are in Oakland's parks?</li>
      <li>How are Oakland's parks perceived (via park ratings)?</li>
      <li>Are there certain features that are related to higher rating?</li>
      <li>What kinds are people doing in parks?</li>
    </ul>
  </li>
  <li>Park Access
    <ul>
      <li>Which parks have adequate transit access (defined as within a walkable distance of 1/4 mile)?</li>
    </ul>
  </li>
  <li>Park Disparities
    <ul>
      <li>Are there spatial differences in amenity counts and types?</li>
      <li>How does adequate transit access vary between parks in priority and non-priority neighborhoods?</li>
    </ul>
  </li>
</ol>

  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Data</h3>

When one wants to explore a new park, searching online can be a helpful tool for this. While apps like Strava and AllTrails have a plethora of data on parks with trails, their users tend to be more fitness-minded and do not necessarily capture other uses of parks. Considering this, OpenStreetmap, Google Reviews, and Yelp were selected as data sources. City of Oakland’s parks data was also utilized for cross-checking but ultimately not incorporated due to quality issues. We did utilize City of Oakland’s Priority Communities data at the census tract-level for the third prong. The table below, we listed the data we used for our analysis as well as limitation we experienced for each source.

  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Header 3</h3>

Text 3

  </div>
</div>
